body, html {
    margin: 0;
    height: 100%;
    background-color: black;
}

#end {
    position: relative;
    left: 50%;
}

#menu {
    height: 100%;
    width: 100%;
}

#scoreBoard {
    clear: both;
}

#time {
    color: white;
    float: right;
}

#score {
    color: white;
    float: left;
}

#startScreen {
    position: relative;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url(images/start-game.jpg);
}

#gameOverScreen {
    position: relative;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url(images/game-over-gif.gif);
}

#gameContainer {
    position: relative;
    display: flex;
    background: url(images/spookyBackground.png);
    background-size: cover;
    height: 80%;
    width: 100%;
    background-color: black;
    flex-wrap: nowrap;
}

.zombie {
    position: absolute;
    max-width: 20%;
    max-height: 20%;
    height: auto;
    width: auto;
}

