body, html {
    margin: 0;
    height: 100%;
    background-color: black;
}

#score {
    text-align: center;
    color: white;
}

#end {
    position: relative;
    left: 50%;
}

#menu {
    height: 100%;
    width: 100%;
}

#gameContainer {
    position: relative;
    display: flex;
    background: url(images/spookyBackground.png);
    background-size: cover;
    height: 80%;
    width: 100%;
    background-color: black;
    flex-wrap: nowrap;
}

.zombie {
    position: absolute;
}

