body,
html {
  margin: 0;
  background-color: white;
}

#mainContainer {
  position: relative;
  border: 1px solid black;
  width: 98%;
  height: 89vh;
  margin: 10vh auto 0;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

.guesses {
  text-align: center;
}

.word-guess {
  text-transform: uppercase;
}

.btn-primary {
  text-transform: capitalize;
  color: black;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.349);
  padding: 0;
  border-radius: 15px;
  animation: colorChange 5s infinite;
  width: 3.5vw;
  height: auto;
  font-size: inherit;
  text-align: center;
}
@keyframes colorChange{from {background-color:white;} to {background-color: tomato}
}

.btn-primary.disabled,
.btn-primary:disabled {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.466);
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.349);
}

.btn-reset {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

.btn-reset:hover {
  color: darkgrey;
  background: transparent;
  border-color: transparent;
}

/* .wrapper {
  width: 90vw;
  height: 100vw;
  margin: 0 auto;
} */

#menu {
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

/* .hangman-display {
  width: 0;
  margin-left: 20%;
  display: block;
  position: relative;
  align-items: center;
}


#hangman {
  min-height: 35vh;
  min-width: auto;
  position: inherit;

} */


/* Since image is dynamic, it is centered to the page when hangman dies. If we center*/
/* img#hangman {
  height:20vw;
  position: inherit;
  left:20vw;

} 
.hangman-display {
  width: 100%;
} */
#hangman {
  width: 800px;
  position: relative;
  left: calc(50% - 200px);
}

h2 {
  font-size: 2vw;
}

.text-center {
  bottom:5vh
}


#wordhint {
  text-align: center;
}



