body, html {
    margin: 0;
    height: 100%;
    background-color: black;
}

#end {
    display: flex;
    align-items: center;
    justify-content: center;
}

#endButton {
    padding: 0.35em 1.2em;
    border: 0.1em solid palegreen;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: palegreen;
    text-align: center;
    transition: all 0.2s;
    max-width: 40%;
    max-height: 10%;
    width: auto;
    height: auto;
    cursor: pointer;
}

#endButton:hover {
    color: black;
    background-color: palegreen;
}

#menu {
    height: 100%;
    width: 100%;
}

#scoreBoard {
    clear: both;
}

#time {
    float: right;
    font-family: monospace;
    color: palegreen;
    padding-right: 1%;
}

#score {
    float: left;
    font-family: monospace;
    color: palegreen;
    padding-left: 1%;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#startScreen {
    position: relative;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/start-game.png);
}

#gameOverScreen {
    position: relative;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/game-over.jpg);
    animation: blink 5s;
    animation-iteration-count: infinite;
}

#winScreen {
    position: relative;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/win-game.jpg);
    animation: blink 5s;
    animation-iteration-count: infinite;
}

#gameContainer {
    position: relative;
    display: flex;
    background: url(../images/spookyBackground.png);
    background-size: cover;
    height: 80%;
    width: 100%;
    background-color: black;
    flex-wrap: nowrap;
    cursor: url(../images/paw-pointer.png), auto;
}

.zombie {
    position: absolute;
    max-width: 20%;
    max-height: 20%;
    height: auto;
    width: auto;
}

